html {
    background-color: #242E49;
}

body {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #4074E1;
}

h2 {
    font-size: 30px;
    color: #535C7B;
}

p {
    color: #535C7B;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #4074E1;
}