{% extends 'base.html' %}


{% block content %}
<div>
    <p>Nazwa sali: {{ object.name }}</p>
    {% if room.capacity < 5 %}
        <p>Pojemność: {{room.capacity}} osoby</p>
    {% else %}
        <p>Pojemność: {{room.capacity}} osób</p>
    {% endif %}
    <p>Rzutnik:
            {% if room.projector is False %}
                Nie
            {% else %}
                Tak
            {% endif %}
            </p>
    <p>Status: </p>
</div>
    <a href=""><input type="button" value="Rezerwuj salę" /></a>
    <a href="{% url 'modify-room' pk=object.pk %}"><input type="button" value="Edytuj salę" /></a>
    <a href="{% url 'delete-room' pk=object.pk %}"><input type="button" value="Usuń salę" /></a>

<p><a href="{% url 'main' %}">Strona główna</a></p>
{% endblock %}
